<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class = "content">
  <!-- TIP BOX ------------------------------------------- -->
  <div id = "tip-box">
    <div class = "box">
        <strong>Tip: </strong><%= tip %>
        <span class = "dark-link" id = "tip-dismissal">Dismiss</span>
    </div>
  </div>
  <br>

  <!-- WELCOME ------------------------------------------- -->
  <h1>Welcome to GreenChallenge, <strong><%= user %></strong></h1>
  <p>
    Welcome to GreenChallenge!  Game-ify and track your carbon emissions
    by entering tasks you do in your day-to-day life and checking their emissions.  
    <a href = "/about">What is GreenChallenge?</a>
  </p>
  <br>

  <!-- YOUR STATS ------------------------------------------- -->
  <h3>Your Stats</h3>
  <div class = "stat-container">

    <!-- total user -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= entriesTotal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Contributions</h6>
        <p class="card-text">Your total log entries</p>
      </div>
    </div>

    <!-- total emissions  -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= emissionsTotal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Your logged carbon emissions</p>
      </div>
    </div>

    <!-- carbon score -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= carbonScore %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Carbon score</h6>
        <p class="card-text">Your site score</p>
      </div>
    </div>

    <!-- rank -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">#<%= userRank %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Rank</h6>
        <p class="card-text">Your rank across all users</p>
      </div>
    </div>

  </div>
  <br><br>

  <!-- GLOBAL STATS ------------------------------------------- -->
  <h3>Global Stats</h3>
  <div class = "stat-container">
    <!-- total log entries -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= entriesGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Contributions</h6>
        <p class="card-text">Total log entries across all users</p>
      </div>
    </div>

    <!-- emissions for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= emissionsGlobal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Total emissions across all users</p>
      </div>
    </div>

    <!-- average carbon score -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= avgCarbonscoreGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Carbon score</h6>
        <p class="card-text">Average carbon score across users</p>
      </div>
    </div>

    <!-- total users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= popGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Users</h6>
        <p class="card-text">Number of active accounts</p>
      </div>
    </div>

  </div>
  <br><br>

  <!-- TRAVEL STATS ------------------------------------------- -->
  <h3>Your Travel Stats</h3>
  <div class = "stat-container">
    <!-- total travel emissions -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= travelEmissionsTotal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Your carbon emissions from travel</p>
      </div>
    </div>

    <!-- zero emissions miles -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= zeroMilesTotal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Your total miles traveled by walking and biking</p>
      </div>
    </div>

    <!-- public transit miles -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= transitMilesTotal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Your total miles traveled by bus and train</p>
      </div>
    </div>

    <!-- heavy emissions miles -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= badMilesTotal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Your total miles traveled by car and airplane</p>
      </div>
    </div>

  </div>
  <br><br>

  <h3>Global Travel Stats</h3>
  <div class = "stat-container">
    <!-- total travel emissions for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= travelEmissionsGlobal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Carbon emissions from travel across all users</p>
      </div>
    </div>

    <!-- zero emissions miles for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= zeroMilesGlobal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Total miles traveled by walking and biking across all users</p>
      </div>
    </div>

    <!-- public transit miles for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= transitMilesGlobal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Total miles traveled by bus and train across all users</p>
      </div>
    </div>

    <!-- heavy emissions miles for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= badMilesGlobal %> mi</h5>
        <h6 class="card-subtitle mb-2 text-muted">Distance Traveled</h6>
        <p class="card-text">Total miles traveled by car and airplane across all users</p>
      </div>
    </div>

  </div>
  <br><br>

  <h3>Your Food Stats</h3>
  <div class = "stat-container">
    <!-- total food emissions -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= foodEmissionsTotal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Your carbon emissions from food</p>
      </div>
    </div>

    <!-- total spent on beef -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= beefTotal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Your total spending on beef</p>
      </div>
    </div>

    <!-- total spent on dairy -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= dairyTotal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Your total spending on dairy</p>
      </div>
    </div>

    <!-- total spent on fruits -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= fruitsTotal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Your total spending on fruit</p>
      </div>
    </div>

  </div>
  <br><br>

  <h3>Global Food Stats</h3>
  <div class = "stat-container">
    <!-- total food emissions for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= foodEmissionsGlobal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Carbon emissions from food across all users</p>
      </div>
    </div>

    <!-- total spent on beef for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= beefGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Total spending on beef across all users</p>
      </div>
    </div>

    <!-- total spent on dairy for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= dairyGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Total spending on dairy across all users</p>
      </div>
    </div>

    <!-- total spent on fruits for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">$<%= fruitsGlobal %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Spending</h6>
        <p class="card-text">Total spending on fruit across all users</p>
      </div>
    </div>

  </div>
  <br><br>

  <h3>Your Household Stats</h3>
  <div class = "stat-container">
    <!-- total household emissions -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= houseEmissionsTotal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Your carbon emissions from household utilities</p>
      </div>
    </div>

    <!-- total electricity used -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= electricityTotal %> kWh</h5>
        <h6 class="card-subtitle mb-2 text-muted">Utility Use</h6>
        <p class="card-text">Your total kilowatt-hours of electricity used</p>
      </div>
    </div>

    <!-- total water used -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= waterTotal %> gal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Utility Use</h6>
        <p class="card-text">Your total gallons of water used</p>
      </div>
    </div>

  </div>
  <br><br>

  <h3>Global Household Stats</h3>
  <div class = "stat-container">
    <!-- total household emissions for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= houseEmissionsGlobal %> kg</h5>
        <h6 class="card-subtitle mb-2 text-muted">Emissions</h6>
        <p class="card-text">Carbon emissions from household utilities across all users</p>
      </div>
    </div>

    <!-- total electricity used for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= electricityGlobal %> kWh</h5>
        <h6 class="card-subtitle mb-2 text-muted">Utility Use</h6>
        <p class="card-text">Total kilowatt-hours of electricity used across all users</p>
      </div>
    </div>

    <!-- total water used for all users -->
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= waterGlobal %> gal</h5>
        <h6 class="card-subtitle mb-2 text-muted">Utility Use</h6>
        <p class="card-text">Total gallons of water used across all users</p>
      </div>
    </div>

  </div>

</main>

<script>
  let tipToggle = document.querySelector("#tip-dismissal");
  let tipBox = document.querySelector("#tip-box");

  tipToggle.addEventListener('click', function(){
    tipBox.style.display = 'none';
  });
</script>

<%- include('../partials/footer') %>