<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
        function togglePassengers() {
            const travelMode = document.getElementById("travel_mode").value;
            const extraInput = document.getElementById("extra_input")
            if(travelMode == "car" || travelMode == "bus") {
                extraInput.classList.remove("hidden")
            } else {
                extraInput.classList.add("hidden")
            }
        }
        function showMode(){
            const inputMode = document.getElementById("input_mode").value;
            const travelForm = document.getElementById("travel")
            const electricForm = document.getElementById("household")
            const freightForm = document.getElementById("food")
            const outerBox = document.getElementById("outer-box")
            if(inputMode == "travel"){
                travelForm.classList.remove("hidden")
                electricForm.classList.add("hidden")
                freightForm.classList.add("hidden")
                outerBox.style.display = ""
            }
            if(inputMode == "household"){
                travelForm.classList.add("hidden")
                electricForm.classList.remove("hidden")
                freightForm.classList.add("hidden")
                outerBox.style.display = ""
            }
            if(inputMode == "food"){
                travelForm.classList.add("hidden")
                freightForm.classList.remove("hidden")
                electricForm.classList.add("hidden")
                outerBox.style.display = "";
            }
        }
    </script>
</head>
<body>
    <main>
        <%- include ('../partials/message') %>
        <div class="content">
            <h1 style="text-align: center">Input Personal Usage For Each Category</h1>
        </div>

        <div class="content box" style="text-align: left">
            <label for="input_mode">Input Mode </label>

            <select id="input_mode" name="input_mode" onchange="showMode()">
                <option value="" selected disabled>Select</option>
                <option value="travel">Travel</option>
                <option value="household">Household</option>
                <option value="food">Food</option>
            </select>
        </div>
        <div class="content box" id="outer-box" style="text-align: left; display: none;">
            <form id="travel" class="hidden" action="/log" method="POST">
                <h2 style="color: #343a40">Travel Data</h2>
                <hr>
                <div>
                    <label for="travel_mode">Travel Mode</label>
                    <select id="travel_mode" name="travel_mode" onchange="togglePassengers()">
                        <option value="" selected disabled>Select</option>
                        <option value="car">Car</option>
                        <option value="bus">Bus</option>
                        <option value="train">Train</option>
                        <option value="airplane">Airplane</option>
                    </select>
                    <div id="extra_input" class="hidden">
                        <label for="passengers">Passengers</label>
                        <input type="text" id="passengers" name="passengers">
                    </div>
                </div>
                <div>
                    <label for="distance">Distance Traveled in Miles: </label>
                    <input type="text" id="distance" name="distance"> 
                </div>
                <div>
                    <label for="travel_date">Travel Date</label>
                    <input type="date" id="travel_date" name="travel_date">
                </div>
                <br>
                <button type="submit" name="formId" value="travel" class = "btn btn-outline-primary">Submit</button>
            </form>

            <form id="household" class="hidden" action="/log" method="POST">
                <h2 style="color: #343a40">Household Data</h2>
                <hr>
                <div>
                    <h3 style="color: #a4cb03">Electricity</h3>
                    <div>
                        <label for="light">Household Light Usage (hours)</label>
                        <input type="text" id="light" name="light"> 
                    </div>
                    <div>
                        <label for="heat">Household Heat Usage(hours)</label>
                        <input type="text" id="heat" name="heat"> 
                    </div>
                    <div>
                        <label for="phone">Phone Usage(hours)</label>
                        <input type="text" id="phone" name="phone"> 
                    </div>
                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date">
                    </div>
                </div>
                <br>
                <div>
                    <h3 style="color: #a4cb03">Water Usage</h3>
                    <div>
                        <label for="shower">Time Spent Showering(minutes)</label>
                        <input type="text" id="shower" name="shower"> 
                    </div>
                    <div>
                        <label for="toilet">Number of Toilet Flushes</label>
                        <input type="text" id="toilet" name="toilet"> 
                    </div>
                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date">
                    </div>
                </div>
                <br>
                <button type = "submit" name="formId" value="household" class = "btn btn-outline-primary">Submit</button>
            </form>

            <form id="food" class="hidden" action="/log" method="POST">
                <h2 style="color: #343a40">Food Data</h2>
                <hr>
                <div>
                    <label for="distance">Distance Traveled: </label>
                    <input type="text" id="distance" name="distance"> 
                </div>
                <div>
                    <label for="date">Usage Date</label>
                    <input type="date" id="date" name="date">
                </div>
                <br>
                <button type = "submit" name="formId" value="food" class = "btn btn-outline-primary">Submit</button>
            </form>

        </div>
        <div class="content box" id="travel_results" style="<% if (!APIresults) { %> display: none;<% } %>">
            <h2 style="color: #343a40">Emission Results</h2>
            <div id="co2_data">
                CO2: <%= APIresults ? APIresults.co2e + " "  + APIresults.units : "" %>
            </div>
        </div>
    </main>
</body>
<%- include ('../partials/footer') %>