<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
    <script defer src = "../js/log.js"></script>
    <main class = "content">
        <%- include ('../partials/message') %>
        <h1>Log Entries</h1>

        <div class="box">
            <label for="input_mode">Entry Type: </label>

            <select id="input_mode" name="input_mode" onchange="showMode()">
                <option value="" selected disabled>Select</option>
                <option value="travel">Travel</option>
                <option value="household">Household</option>
                <option value="food">Food</option>
            </select>
        </div>
        <br>
        <div class="box" id="outer-box" style="display: none;">

            <!-- Travel Input -->
            <form id="travel" class="hidden" action="/travel_log" method="POST">
                <h2 style="color: #343a40">Travel Data</h2>
                <hr>
                <div>
                    <label for="travel_mode">Travel Mode</label>
                    <select id="travel_mode" name="travel_mode" onchange="togglePassengers()">
                        <option value="" selected disabled>Select</option>
                        <option value="car">Car</option>
                        <option value="bus">Bus</option>
                        <option value="train">Train</option>
                        <option value="airplane">Airplane</option>
                    </select>
                    <div id="extra_input" class="hidden">
                        <label for="passengers">Passengers</label>
                        <input type="text" id="passengers" name="passengers">
                    </div>
                </div>
                <div>
                    <label for="distance">Distance Traveled in Miles: </label>
                    <input type="text" id="distance" name="distance"> 
                </div>
                <div>
                    <label for="travel_date">Date</label>
                    <input type="date" id="travel_date" name="travel_date">
                </div>
                <br>
                <button type="submit" class = "btn btn-outline-success">Submit</button>
            </form>

            <!-- Household Input -->
            <form id="household" class="hidden" action="/household_log" method="POST">
                <h2 style="color: #343a40">Household Data</h2>
                <hr>
                <div>
                    <h3 style="color: #a4cb03">Electricity</h3>
                    <div>
                        <label for="light">Household Light Usage (hours)</label>
                        <input type="text" id="light" name="light"> 
                    </div>
                    <div>
                        <label for="heat">Household Heat Usage(hours)</label>
                        <input type="text" id="heat" name="heat"> 
                    </div>
                    <div>
                        <label for="phone">Phone Usage(hours)</label>
                        <input type="text" id="phone" name="phone"> 
                    </div>
                </div>
                <br>
                <div>
                    <h3 style="color: #a4cb03">Water Usage</h3>
                    <div>
                        <label for="shower">Time Spent Showering(minutes)</label>
                        <input type="text" id="shower" name="shower"> 
                    </div>
                    <div>
                        <label for="toilet">Number of Toilet Flushes</label>
                        <input type="text" id="toilet" name="toilet"> 
                    </div>
                </div>
                <br>
                <div>
                    <label for="household_date">Date</label>
                    <input type="date" id="household_date" name="household_date">
                </div>
                <br>
                <button type = "submit" class = "btn btn-outline-success">Submit</button>
            </form>

            <!-- Food Input -->
            <form id="food" class="hidden" action="/food_log" method="POST">
                <h2 style="color: #343a40">Food Data</h2>
                <hr>
                <div>
                    <label for="beef">Money Spent on Beef($)</label>
                    <input type="text" id="beef" name="beef"> 
                </div>
                <div>
                    <label for="dairy">Money Spent on Dairy($)</label>
                    <input type="text" id="dair" name="dairy"> 
                </div>
                <div>
                    <label for="fruits">Money Spent on Fruits and Vegetables($)</label>
                    <input type="text" id="fruits" name="fruits"> 
                </div>
                <div>
                    <label for="food_date">Date</label>
                    <input type="date" id="food_date" name="food_date">
                </div>
                <br>
                <button type = "submit" class = "btn btn-outline-success">Submit</button>
            </form>

        <!-- Printing results  -->
        </div>
        <div class="content box" style="<% if (travelEmissions == null) { %> display: none;<% } %>">
            <h2 style="color: #343a40">Emission Results</h2>
            <hr>
            <div>
                <h3>Travel Emissions</h3> 
                CO2: <%= travelEmissions != null ? travelEmissions.co2e.toFixed(3) + " "  + travelEmissions.units : "none" %>
            </div>
        </div>

        <div class="content box" style="<% if (householdEmissions == null) { %> display: none;<% } %>">
            <h2 style="color: #343a40">Emission Results</h2>
            <hr>
            <div>
                <h3>Household Emissions</h3> 
                CO2: <%= householdEmissions != null ? householdEmissions.toFixed(3) + " kg" : "none" %>
            </div>
        </div>

        <div class="content box" style="<% if (foodEmissions == null) { %> display: none;<% } %>">
            <h2 style="color: #343a40">Emission Results</h2>
            <hr>
            <div>
                <h3>Food Emissions</h3> 
                CO2: <%= foodEmissions != null ? foodEmissions.toFixed(3) + " kg" : "none" %>
            </div>
        </div>

    </main>
<%- include ('../partials/footer') %>