<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<main class = "content">
    <div id = "return-home"><a class = "dark-link" href = "/home"><< View general stats</a></div>
    <!-- TRAVEL STATS ------------------------------------------- -->
  <h3>Your Travel Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Total travel emissions</td>
            <% let a = travelEmissionsTotal ? travelEmissionsTotal : 0;  %>
            <td class = "td-vertical-center"><%= a %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Miles from zero-emission travel</td>
            <% let b = zeroMilesTotal ? zeroMilesTotal : 0; %>
            <td class = "td-vertical-center"><%= b %> mi</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Miles by public transport</td>
            <% let c = transitMilesTotal ? transitMilesTotal : 0; %>
            <td class = "td-vertical-center"><%= c %> mi</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Miles by emission-heavy travel</td>
            <% let d = badMilesTotal ? badMilesTotal : 0; %>
            <td class = "td-vertical-center"><%= d %> mi</td>
        </tr>
    </tbody>
  </table>
  
  <br>
  <!-- GLOBAL TRAVEL STATS ------------------------------------------- -->
  <h3>Global Travel Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Travel emissions across users</td>
            <td class = "td-vertical-center"><%= travelEmissionsGlobal %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Zero-emissions miles across users</td>
            <td class = "td-vertical-center"><%= zeroMilesGlobal %> mi</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Public transport miles across users</td>
            <td class = "td-vertical-center"><%= transitMilesGlobal %> mi</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Heavy-emissions miles across users</td>
            <td class = "td-vertical-center"><%= badMilesGlobal %> mi</td>
        </tr>
    </tbody>
  </table>
  
  <br>
  <!-- YOUR FOOD STATS ------------------------------------------- -->
  <h3>Your Food Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Total food emissions</td>
            <% let e = foodEmissionsTotal ? foodEmissionsTotal : 0; %>
            <td class = "td-vertical-center"><%= e %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total beef spending</td>
            <% let f = beefTotal ? beefTotal : 0; %>
            <% if(f === 0) {f = f.toFixed(2)} %>
            <td class = "td-vertical-center">$<%= f %></td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total dairy spending</td>
            <% let g = dairyTotal ? dairyTotal : 0; %>
            <% if(g === 0) {g = g.toFixed(2)} %>
            <td class = "td-vertical-center">$<%= g %></td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total fruit spending</td>
            <% let h = fruitsTotal ? fruitsTotal : 0; %>
            <% if(h === 0) {h = h.toFixed(2)} %>
            <td class = "td-vertical-center">$<%= h %></td>
        </tr>
    </tbody>
  </table>

  <br>
  <!-- GLOBAL FOOD STATS ------------------------------------------- -->
  <h3>Your Food Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Total food emissions across users</td>
            <td class = "td-vertical-center"><%= foodEmissionsGlobal %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total beef spending across users</td>
            <td class = "td-vertical-center">$<%= beefGlobal %></td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total dairy spending across users</td>
            <td class = "td-vertical-center">$<%= dairyGlobal %></td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total fruit spending across users</td>
            <td class = "td-vertical-center">$<%= fruitsGlobal %></td>
        </tr>
    </tbody>
  </table>

  <br>
  <!-- HOUSEHOLD STATS ------------------------------------------- -->
  <h3>Your Household Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Total household emissions</td>
            <% let i = houseEmissionsTotal ? houseEmissionsTotal : 0; %>
            <td class = "td-vertical-center"><%= i %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total kilowatt-hours of electricity use</td>
            <% let j = electricityTotal ? electricityTotal : 0; %>
            <td class = "td-vertical-center"><%= j %> kWh</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total gallons of water uses</td>
            <% let k = waterTotal ? waterTotal : 0; %>
            <td class = "td-vertical-center"><%= k %> gal</td>
        </tr>
    </tbody>
  </table>

  <br>
  <!-- GLOBAL HOUSEHOLD STATS ------------------------------------------- -->
  <h3>Global Household Stats</h3>
  <table class = "table table-striped stat-table">
    <colgroup>
        <col span = "1">
        <col span = "1">
    </colgroup>
    <thead>
        <tr>
            <th scope = "col"></th>
            <th scope = "col"></th>
        </tr>
    </thead>
    <tbody>
        <tr scope = "row">
            <td class = "td-vertical-center">Total household emissions across users</td>
            <td class = "td-vertical-center"><%= houseEmissionsGlobal %> kg</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total kilowatt-hours of electricity use across users</td>
            <td class = "td-vertical-center"><%= electricityGlobal %> kWh</td>
        </tr>
        <tr scope = "row">
            <td class = "td-vertical-center">Total gallons of water uses across users</td>
            <td class = "td-vertical-center"><%= waterGlobal %> gal</td>
        </tr>
    </tbody>
  </table>
</main>
<%- include ('../partials/footer') %>