<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<main class = "content profile-box">
    <div class = "profile-header">
        <img class = "profile-icon icon" src = "img/profile_icon.png">
        <div class = "profile-label">
            <h1><%= user.username %></h1>
            <div>Score: <%= user.user_carbonscore %></div>
            <% emissionTotal.forEach(function(total){ %>
                <div>Lifetime Emissions: <%= total.total_emissions %> kg</div>
            <% }) %>
        </div>
    </div>
    <hr>
    <%- include ('../partials/profile_data.ejs') %>
</main>
<%- include ('../partials/footer') %>