<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<main class = "content profile-box">
    <div class = "profile-header">
        <img class = "profile-icon icon" src = "img/profile_icon.png">
        <div class = "profile-label">
            <h1><%= user.username %></h1>
            <div>Score: <%= user.user_carbonscore %></div>
            <% emissionTotal.forEach(function(total){ %>
                <div>Lifetime Emissions: <%= total.total_emissions %> kg</div>
            <% }) %>
        </div>
    </div>
    <hr>
    <h3>About Me</h3>
    <% if(user.user_description === ''){ %>
        <em>This user hasn't provided a description.</em>
    <% }else{ %>
        <%= user.user_description %>
    <% } %> 
    <% if(locals.editing === true){ %>
        <!-- modal to edit user description -->
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary force-right" data-bs-toggle="modal" data-bs-target="#edit-description">
            Edit Description
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="edit-description" tabindex="-1" aria-labelledby="edit-description" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit-description">Edit Description</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action = "/edit-description" method = "POST">
                    <div class="modal-body">
                        <input type = "text" name = "description" id ="description" class = "description-input-box">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    <% } %>
    <br>
    <br>
    <%- include ('../partials/profile_data.ejs') %>
</main>
<%- include ('../partials/footer') %>